services:
	- App\Core\RouterFactory::createRouter
	- GuzzleHttp\Client
	- App\Services\XmlManager
	- App\Services\AnimalService(%wwwDir%)
	- App\Services\InputValidator

parameters:
    wwwDir: %appDir%/../www

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
