{block content}
<div><a n:href="Home:default">Spat</a></div>
    <div n:foreach="$animals as $animal">
        -----------------------------------------------------------------------
        <div>ID of animal {$animal->getId()}</div>

        <div>Name of animal {$animal->getName()}</div>

        <div>Name of category {$animal->getCategory()->getName()}</div>

        <div>status {$animal->getStatus()}</div>
    </div>