
{block content}
    <div><a class="back-link" n:href="Home:default">Späť</a></div>

    <div class="animals">
        <div class="animal-card" n:foreach="$animals as $animal">
            <a n:href="Animal:{$action} $animal->getId()">
                id: {$animal->getId()} <br>
                name: {$animal->getName()}
            </a>
        </div>
    </div>
{/block}